[package]
name = "flowd"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.7"
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
futures = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1.36", features = ["full"] }
tokio-stream = { version = "0.1", features = ["sync"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
toml = "0.8"
ratatui = { version = "0.27", default-features = false, features = ["crossterm"] }
crossterm = "0.27"
reqwest = { version = "0.11", features = ["json", "blocking"] }
